@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --white-color: #ffffff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #cccccc;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 1.9rem;
    --font-size-xxl: 2.2rem;
    --font-size-xxxl: 2.5rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radisu-circle: 50%;

    --site-max-width: 1300px;

}

/**Decorations start**/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

/**Decorations End**/

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
}

.navbar #menu-close-button,
.navbar #menu-open-button {
    display: none;
}

.hero-section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--white-color);
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
    font-weight: var(--font-weight-bold);
}

.hero-section .hero-details .subtitle {
    font-size: var(--font-size-xl);
    margin-top: 8px;
    min-width: 70%;
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    max-width: 70%;
    font-size: var(--font-size-m);
    margin: 24px 0 40px;
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    color: var(--primary-color);
    border: 2px solid transparent;
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover {
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;

}

@media screen and (max-width: 935px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.1rem;
        --font-size-xl: 1.4rem;
        --font-size-xxl: 1.6rem;
        --font-size-xxxl: 1.8rem;
    }

    .navbar #menu-close-button,
    .navbar #menu-open-button {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
       left: 0; 
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }
}